name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
        
    - name: Set up Conda
      uses: s-weigand/setup-conda@v1.1.1
      with:
        update-conda: true
        python-version: 3.10.4
        conda-channels: conda-forge, anaconda

    - name: Install dependencies
      run: |
        conda env update --file environment.yml
